<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reviewboard">
  
   <select id="selectAll" parameterType="com.yaboja.dto.ReviewboardDto" resultType="com.yaboja.dto.ReviewboardDto">
   SELECT * FROM REVIEWBOARD ORDER BY REVIEWBOARDSEQ DESC
   </select>
  
   <select id="selectOne" resultType="com.yaboja.dto.ReviewboardDto">
   SELECT * FROM REVIEWBOARD WHERE REVIEWBOARDSEQ = #{reviewboardseq}
   </select>
   
   <insert id="Insert">
   INSERT INTO REVIEWBOARD VALUES(REVIEWBOARD_SEQ.NEXTVAL,#{userseq},#{movietitle},#{reviewboardtitle},#{reviewboardcontent}, SYSDATE,#{reviewboardview}) 
   </insert>
  
   <update id="update" parameterType="ReviewboardDto">
   UPDATE REVIEWBOARD SET 
   MOVIETITLE = #{movietitle}, REVIEWBOARDTITLE = #{reviewboardtitle}, REVIEWBOARDCONTENT = #{reviewboardcontent} 
   WHERE REVIEWBOARDSEQ = #{reviewboardseq}
   </update>
  
   <update id="viewupdate" parameterType="ReviewboardDto">
   UPDATE REVIEWBOARD SET 
   REVIEWBOARDVIEW = REVIEWBOARDVIEW + 1
   WHERE REVIEWBOARDSEQ = #{reviewboardseq}
   </update>
   
   <delete id="delete" parameterType="ReviewboardDto">
   DELETE FROM REVIEWBOARD WHERE REVIEWBOARDSEQ = #{reviewboardseq}
   </delete>
</mapper>